body{
    margin-left: 30px;
    margin-right: 30px;
    background-color: black;
}
div > h1 {
    font-size: 100px;
    text-align: center;
    color: blue;
    padding: 20px;
    border: solid blue;
    
    
}

h2{
    font-size: 100px;
    text-align: center;
    color: rgb(14, 82, 8);
    padding: 20px;
    border: solid rgb(14, 82, 8);
    color: rgb(14, 82, 8);
    
}
#div1{
    background-color: hsl(208, 100%, 97%);
    border-radius: 20px;
    padding: 20px;
}
#div2{
    background-color: hsl(208, 100%, 97%);
    border-radius: 20px;
    padding: 20px;
    size: 50%;
}