p.capitalLetter:first-letter {
    float: left;
    color: rgb(255, 255, 255);
    background: rgb(201, 38, 201);
    border: 3px solid #5c2ceb;
    font-size: 30px;
    line-height: 30px;
    padding: 2px;
    font-family: times;
    margin-right: 5px;
  }
  div {
    font-size: 25px;
    display: flex;
    margin-top: 20%;
    margin-left: 30%;
    color: #323232;
    width: 650px;
    padding: 10px;
    background-color: #c5c5c5;
    border: 1px solid #f5f5f5;
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 10px 0px #f5f5f5;
    box-shadow: 0px 0px 10px 0px #f5f5f5;
  }
  body {
    background-color: #323232;
  }