body {
    background-color: rgb(244, 244, 171);
    margin: 40px;
}

ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 50px;
    list-style-image: url("https://mdn.mozillademos.org/files/11981/starsolid.gif")
}

div {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
}