.container {
  position: relative;
  background-color: rgb(255, 255, 255);
  width: 500px;
  height: 500px;

  /* centrar vertical y horizontalmente */
  position: absolute;
  top: 35%;
  left: 35%;
  right: 50%;
  margin: -25px 0 0 -25px;
  box-shadow: 6px 20px 1px black;
}

body {
  background-color: #222222;
  background: repeating-linear-gradient(45deg,
      #2b2b2b 0%,
      #2b2b2b 10%,
      #222222 0%,
      #222222 50%) 0 / 15px 15px;
}

.usuario1 {
  width: 200px;
  color: blue;
  font-size: 20px;
  font-style: italic;
  background-color: #8e8d8d;
  margin: 1cm;
  border-radius: 20px;
  padding-left: 20px;
}

.usuario2 {
  color: blueviolet;
  font-size: 20px;
  font-style: italic;
  background-color: #52a8e9;
  margin: 1cm;
  text-align: right;
  border-radius: 20px;
  padding-right: 20px;
}